header {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    color: darkred;
}

#title {

    padding-top: 10px;
    padding-bottom: 10px;

}


* {
    box-sizing: border-box;
}

.board {
    padding-top: 50px;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    font-size: 0;
}

.board div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid grey;
}

.red {
    background-color: crimson;
}

.blue {
    background-color: cornflowerblue;
}
button {
    margin: 10px; 5px;
}