body {
    font-weight: bold;
    background-color: antiquewhite;
}
header {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    color: darkred;
}

#title {

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;

}


* {
    box-sizing: border-box;
}

.board {
    padding-top: 50px;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 100px;
}

.board div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid grey;
}

.red {
    background-color: crimson;
}

.blue {
    background-color: cornflowerblue;
}

#scores {
    font-size: 20px;
}


button {
    font-weight: bold;
    margin: 10px; 5px;
    background-color: lightblue;
    font-size: 20px;
    padding: 10px 15px;
}